:root {
  box-sizing: border-box;
}

body {
  padding: 0 20px 0 20px;
}

.naslov {
  margin-bottom: 0;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  margin-bottom: 1px;
  font-family: 'Ubuntu Mono', monospace;
}

button, select, .form {
  font-family: 'Ubuntu Mono', monospace;
}

p {
  font-family: 'Ubuntu Mono', monospace;
}

.form {
  margin: 10px 0 10px 0;
  padding: 10px;
  border: solid black 1px;
  border-radius: 10px;
}

.form b {
  margin: 5px 0 5px 0;
  text-transform: uppercase;
}

[important] {
  background-color: lavenderblush;
}

.monitor {
  padding: 0;
  margin: 2px 0 2px 0;
}

.spacer {
  height: 50px;
  width: 100%;
}

code {
  background-color: #0075ff;
  color: white;
  padding: 2px;
  border-radius: 5px;
}